/* Slider CSS */
.slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:#000
}

.image {
    height: 300px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 90%;
    right: 0px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 90%;
    left: 0px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.details-back-button {
    width: 200px;
    justify-self: center;
    margin-bottom: 15px;
    grid-column: span 2
}

.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    height: 85%;
    margin: auto;
    opacity: 0.8;
  }
  