/* Slider CSS */
.slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:#000
}

.image {
    max-width: 350px;
    height: 100%;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 90%;
    right: 80px;
    font-size: 2rem;
    color: gray;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 90%;
    left: 80px;
    font-size: 2rem;
    color: gray;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.details-back-button {
    width: 200px;
    justify-self: center;
    margin-bottom: 15px;
    grid-column: span 2
}


/* Media 610 px and less */
@media (max-width: 610px) {
    .right-arrow {
        position: absolute;
        top: 85%;
        right: 20vw;
        font-size: 2rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    .left-arrow {
        position: absolute;
        top: 85%;
        left: 20vw;
        font-size: 2rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
}