
.vehicle-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    background-color: #f9f9f9;
  }
  
  .vehicle-card h3 {
    margin-top: 0;
  }
  
  .vehicle-card p {
    margin-bottom: 8px;
  }

  .select-vehicle-button {
    grid-column: span 2;
    width: 200px;
    justify-self: center;
    margin-bottom: 15px;
    justify-items: center;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.423);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
  }


  .select-vehicle-button:hover{
    background-color: rgba(0, 255, 255, 0.623);
  }

  .image-card{
    max-width: 200px;
  }

  .image-card-item{
    max-width: 200px;
  }
  
  
  .vehicle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  